
{% extends 'base.html' %}
{% block body %}
			<section class="ftco-section-3">
				<div class="photograhy">
					<div class="row">
						<div class="col-md-4 ftco-animate">
							<a href="/static/demo/images/problem1.jpeg" class="photography-entry img image-popup d-flex justify-content-start align-items-end" style="background-image: url(/static/demo/images/problem1.jpeg);">
								<div class="overlay"></div>
								<div class="text ml-4 mb-4">
									<h3>Photo 01</h3>
									<span class="tag">Model</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="/static/demo/images/problem2.jpeg" class="photography-entry img image-popup d-flex justify-content-start align-items-end" style="background-image: url(/static/demo/images/problem2.jpeg);">
								<div class="overlay"></div>
								<div class="text ml-4 mb-4">
									<h3>Photo 02</h3>
									<span class="tag">Nature</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="/static/demo/images/problem3.jpeg" class="photography-entry img image-popup d-flex justify-content-start align-items-end" style="background-image: url(/static/demo/images/problem3.jpeg);">
								<div class="overlay"></div>
								<div class="text ml-4 mb-4">
									<h3>Photo 03</h3>
									<span class="tag">Fashion</span>
								</div>
							</a>
						</div>
						
					
					
					</div>
				</div>
			</section>
			{% endblock %}