
 {% extends 'base.html' %}
 {% block body %}

 <script>
		function myFunction() {
		  alert("Your Support has been noted!!");
		}
		
		</script>
<div class="d-flex">
	<div class=" text img p-md-5">
		<form method="post" action="/demo/addComplain/" enctype="multipart/form-data">{% csrf_token %}
		Select the category*
		<select name="category" class="form-control">
			{% for category in categories %}
			<option value="{{category.category}}">{{category.category}}</option>
			{% endfor %}
		</select><br><br>
		Select the image file
		<input type="file"  name="image"/><br/><br/>
		Enter the details here*
		<input type="textarea" class="form-control" id="detail"name="details" required/><br/><br/>
		<h6 id="msg" >We detected that department is:&nbsp;<h6 id="p1"> </h6></h6>
		
		Location*
		<input type="text" class="form-control" id="location" name="location" required><br><br>
		Is this complain or Suggestion:<br>
		<input type="radio"  name="comps" value="complain" checked="checked">Complain
		<input type="radio" class="form-data" name="comps" value="suggestion">Suggestion <br><br>
		
		<input type="submit" id="reg" class="mt-2 btn btn-black submit" >
	</form>
	
	  
	 
	
	{% if suggestions%}
	<h2>Simillar Complains</h2>
	<div class="table-responsive">
			<table  class="table"  >
				<th>Id</th>
				<th>Description</th>
				<th>Department</th>
				<th>Status</th>
				<th>Address</th>
				<th>Date</th>
				<th>Supports</th>
				<th></th>
				
				{%for rel in suggestions %}		
				<tr style="background-color:bisque">
				
			<form action="/demo/increase/" method="post">{% csrf_token %}
				<input type="hidden" name="id" id="id" value={{rel.id}}>{{rel.id}}
				<td><b>{{rel.id}}</b></td>
				<td><b>{{rel.complain_description}}</b></td>
				<td><b>{{rel.complain_category}}</b></td>
				<td><b>{{rel.complain_status}}</b></td>
				<td><b>{{rel.complain_address}}</b></td>
				<td><b>{{rel.date_time}}</b></td>
				<td><b>{{rel.complain_count}}</b></td>
				<td><input type="submit" value="Support" onclick="myFunction()" class="mt-2 btn btn-black submit"></td>
				</tr>
			</form>
				{%endfor%}
				
				
			</table>
	</div>
	{% endif %}



	
	</div>
	<div class="author-info text p-4 p-md-5 mt-5 mb-5">
		<div class="desc">
			<h1 class="mb-4"><span>Top Helpers of the WEEK! </span></h1>
			<p class="mb-4">
				<ul>
					<li>1)N.M.KUMAR</li>
					<li>2)P.N.SHETH</li>
					<li>3)R.K.PATEL</li>
				</ul>
			</p>
			<h3 class="signature h1">FOLLOW OUR CITY PAGE ON:</h3>
			<ul class="ftco-social mt-3">
				<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
				<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
				<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
				  
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script>
	$(document).ready(function(){
	  $("#detail").blur(function(){
	var det = document.getElementById("detail").value;
	const CLIENT_TOKEN="GVULD55QMRASSPSJD6D2FELJY4AHFXWG";
	const q = encodeURIComponent(det);
	const uri = 'https://api.wit.ai/message?q=' + q;
	const auth = 'Bearer ' + CLIENT_TOKEN;
		fetch(uri, {headers: {Authorization: auth}})
  			.then(res => res.json())
  			.then(function(res) {
				var dept=res['entities']['intent'][0]['value'];
			console.log(dept);
			$("#msg").show();
			document.getElementById("p1").innerHTML = dept;

		    });
		
	  });
	});
    
   $(document).ready(function(){
	$("#msg").hide();
});
</script>