
{% extends 'base.html' %}
{% block body %}
			<section class="ftco-section">
	      <div class="container">
	        <div class="row">
	          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
	            <div class="media block-6 services py-4 d-block">
	              <div class="d-flex justify-content-start">
	              	<div class="icon d-flex align-items-center justify-content-center">
	              		<span class="flaticon-big-lens"></span>
	              	</div>
	              </div>
	              <div class="media-body p-2 mt-2">
	                <h3 class="heading mb-3">Skip the Queue</h3>
	                <p>Get direct turn at government offices by skipping the queue.	</p>
	              </div>
	            </div>      
	          </div>
	          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
	            <div class="media block-6 services py-4 d-block">
	              <div class="d-flex justify-content-start">
	              	<div class="icon d-flex align-items-center justify-content-center">
	              		<span class="flaticon-printing-photo"></span>
	              	</div>
	              </div>
	              <div class="media-body p-2 mt-2">
	                <h3 class="heading mb-3">Invitation at function</h3>
	                <p>Get a chance to attend government ceremonies and meet leaders.</p>
	              </div>
	            </div>      
	          </div>
	          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
	            <div class="media block-6 services py-4 d-block">
	              <div class="d-flex justify-content-start">
	              	<div class="icon d-flex align-items-center justify-content-center">
	              		<span class="flaticon-focusing-target"></span>
	              	</div>
	              </div>
	              <div class="media-body p-2 mt-2">
	                <h3 class="heading mb-3">Membership of city club.</h3>
	                <p>Be a member of city club for a year and serve the city.</p>
	              </div>
	            </div>      
	          </div>
	         </div>
	    </section>
			{% endblock %}