
 {% extends 'base.html' %}
 {% block body %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="d-flex">
	<div class=" text img p-md-5">
        <h1>This Post may be related with yours!1</h1>    
        Suggested Posts:
        
	</div>
	<div class="author-info text p-4 p-md-5 mt-5 mb-5">
		<div class="desc">
			<h1 class="mb-4"><span>Top Helpers of the WEEK! </span></h1>
			<p class="mb-4">
				<ul>
					<li>1)N.M.KUMAR</li>
					<li>2)P.N.SHETH</li>
					<li>3)R.K.PATEL</li>
				</ul>
			</p>
			<h3 class="signature h1">FOLLOW OUR CITY PAGE ON:</h3>
			<ul class="ftco-social mt-3">
				<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
				<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
				<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
                  