{% extends 'base.html' %}
{% block body %}

<section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
			<div class="col-md-8 ftco-animate">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span></span></p>
				<h1 class="bread">City Wall</h1>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section">
	<div class="container">
		<div class="row d-flex">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-md-12">
						<div class="blog-entry ftco-animate d-md-flex">
							<a href="/demo/single" class="img img-2" style="background-image: url(/static/demo/images/problem2.jpeg);"></a>
							<div class="text text-2 p-4">
								<h3 class="mb-2"><a href="single.html">Water is being wasted.</a></h3>
								<div class="meta-wrap">
									<p class="meta">
										<span>Dec 14, 2018</span>
										<span>New Society,Nadiad</span>
										<span>Other 5 had this problem</span>
									</p>
								</div>
								<p class="mb-4">The water is being flown on all over road from broken pipe. Please fix it.</p>
								<p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
							</div>
						</div>
					</div>
					{% for complain in complain %}
					<div class="col-md-12">
							<div class="blog-entry ftco-animate d-md-flex">
								<a href="/demo/single/{{complain.id}}" class="img img-2" style="background-image: url({{complain.complain_image}});"></a>
								<div class="text text-2 p-4">
									<h3 class="mb-2"><a href="/demo/single/{{complain.id}}">{{complain.complain_category}} Problem</a></h3>
									<div class="meta-wrap">
										<p class="meta">
											<span>{{complain.date_time}}</span>
											<span>{{complain.complain_address}}</span>
											<span>Other {{complain.complain_count}} had this problem</span>
										</p>
									</div>
									<p class="mb-4">{{complain.complain_description}}</p>
									<p><a href="/demo/single/{{complain.id}}" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
								</div>
							</div>
						</div>
					{% endfor %}	
				</div><!-- END-->
				
			</div>
			<div class="col-lg-4 sidebar ftco-animate bg-light">
				<div class="sidebar-box">
					<form action="#" class="search-form">
						<div class="form-group">
							<span class="icon icon-search"></span>
							<input type="text" class="form-control" placeholder="Type a keyword and hit enter">
						</div>
					</form>
				</div>
				

				<div class="sidebar-box subs-wrap img" style="background-image: url(/static/demo/images/bg_1.jpg);">
					<div class="overlay"></div>
					<h3 class="mb-4 sidebar-heading">Newsletter</h3>
					<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
					<form action="#" class="subscribe-form">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Email Address">
							<input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
						</div>
					</form>
				</div>

			


				</div><!-- END COL -->
		</div>
	</div>
</section>

{% endblock %} 