
 {% extends 'base1.html' %}
 {% block body %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <section class="ftco-section ftco-bread">
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
			<div class="col-md-8 ftco-animate">
				<p class="breadcrumbs"><span class="mr-2"><a href="/office/home">Home</a></span> <span></span></p>
				<h1 class="bread">All Complains</h1>
			</div>
		</div>
	</div>
</section>
<h2>Filter complains by:</h2>
<form method="get">
	{{ filter.form.as_p }}
	<button type="submit">Search</button>
</form>



	<section class="ftco-section-3">
			<div class="photograhy">

				<div class="row">


		{% for complain in filter.qs %}

						<div class="col-md-4 ftco-animate">
								<a href="/office/single/{{complain.id}}" class="photography-entry img img-2 d-flex justify-content-start align-items-end" style="background-image: url({{complain.complain_image}});">
									<div class="overlay"></div>
									<div class="text ml-4 mb-4">
										<h3>Complain of {{complain.date_time}}</h3>
										<span class="tag">{{complain.complain_category}}</span>
									</div>
								</a>
							</div>
		{% endfor %}
	</div>
</div>
</section>

{% endblock %}
